
*.out
*.asv
*.swp
*.DS_Store
*.pyc

# My commands
HN_Head_and_Neck
xQSM/xQSM_Checkpoints
#HN_Checkpoints
QSM_data
xQSM/ckpt/
xQSM/python/eval/*Inference_Results/
xQSM/python/eval/run_demo.ipynb
xQSM/python/eval/inference_results/
simulated_volumes_1000_nifti/
simulated_volumes_1000/
*copy*

# venv (not needed on github)
QSM/
# *Chi_Unet_invivo.mat
# *Chi_Unet_invivo.nii
# *Chi_xQSM_invivo.mat
# *Chi_xQSM_invivo.nii
# *Unet_invivo.pth
# *xQSM_invivo.pth
# *sub*.nii

# Existing commands in deepMRI gitignore file
xQSM/python/.vscode/settings.json
xQSM/matlab/eval/Chi_Unet_invivo.nii
xQSM/matlab/eval/Chi_Unet_syn.nii
xQSM/matlab/eval/Chi_xQSM_invivo.nii
xQSM/matlab/eval/Chi_xQSM_syn.nii
xQSM/onnx/networks_onnx/Unet_invivo.onnx
xQSM/onnx/networks_onnx/xQSM_invivo.onnx
xQSM/python/__pycache__/Unet_blocks.cpython-38.pyc
xQSM/python/__pycache__/Unet.cpython-38.pyc
xQSM/python/__pycache__/xQSM_blocks.cpython-38.pyc
xQSM/python/__pycache__/xQSM.cpython-38.pyc
xQSM/python/eval/Chi_Unet_invivo.mat
xQSM/python/eval/Chi_Unet_invivo.nii
xQSM/python/eval/Chi_xQSM_invivo.mat
xQSM/python/eval/Chi_xQSM_invivo.nii
xQSM/python/eval/__pycache__/utils.cpython-38.pyc
